{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	<h1>
	<img  src="{{ url_for('static', filename='img/heroes/' + name + '_frame.png') }}" width="60px" /> 
	Step 2: Choose your abilities
	</h1>
 </div>

 <ul class="pager">
  {% if not lvl == 1 %}
  <li class="previous"><a href="{{ '/' + name }}">&larr; Restart</a></li>
  {% else %}
  <li class="previous disabled"><a href="{{ '/' + name }}">&larr; Restart</a></li>
  {% endif %}
 </ul>

 <div class="container">
	{% for abilities in lst %}
	<div class="row">

	<div class="col-sm-2">
	<!-- ignore me-->
	</div>

	{% for ability in abilities %}

		<div class="col-sm-4">
    		 <div class="thumbnail">
		 <div class="inner">

      		  <!--<img data-src="holder.js/300x300" alt="...">--> 

		  <span class="label label-warning">Level {{ lvl }}</span>		  
		  			
		  <a href="{{ '/' + name + '_' + next_lvl|string + '_' + hist + '-' + ability.id|string }}">
                   <span class="label label-success">+</span>
                  <a/>

      		  <div class="caption">
        	   <h4>{{ ability.name }}</h4>
        	   <p>{{ ability.text }}</p>
		    
		   <!---
        	   <p><a href={{ '/' + name + '_' + next_lvl|string + '_' + hist + '-' + ability.id|string }} class="btn btn-primary" role="button">Skill</a></p>
		   -->

		  </div><!-- inner -->
      	     	  </div><!-- thumbnail -->
    		 </div>
  		</div>

	{% endfor %}
	<div class="col-sm-2">
	</div>
	</div> <!-- row -->

	{% endfor %}
 </div> <!-- container -->

</div> <!-- bcolor -->

{% endblock content %}
