{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	<h1>Step 1: Choose a Hero</h1>
 </div>
 <br>
 <div class="container">

  {% for lst in imgLst %}	
   <div class="row">
   {% for item in lst %}	
    <a href={{ item[:-4] }}>

     <img class="normal" src="{{ url_for('static', filename='img/heroes/' + item ) }}" />  
     <img class="hover"  src="{{ url_for('static', filename='img/highlights/' + item ) }}" />

    </a>
   {% endfor %}
  </div>
  {% endfor %}

 </div>

</div>
{% endblock content %}
