{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	{% if mode == 0 %}
		<h1>Recent Builds</h1>
	{% elif mode == 1 %}
		<h1>Best Builds</h1>
	{% endif %}
 </div>


	{% if builds == None %}
		<h3>There are currently no builds available</h3>
		<p>Click <a href="/create"><u>here</u></a> to create one</p>
	{% else %}
		<ul class="pager">
			<li class="previous"><a href="#">Next</a></li>
			<li class="next"><a href="#">Previous</a></li>
		</ul>

		
		<div class="row">
		{% for build in builds %}
			<div class="col-sm-3 col-sm-offset-2">

			<a href="{{ '/' + build.build + '_' + build.name }}">{{ build.name }}</a>
			<a href="{{ build.hero }}"><img src="{{ url_for('static', filename='img/heroes/' + build.hero + '_frame.png') }}" width="50px" /></a>
			<span class="label label-success">{{ build.pos_votes }} likes</span><br>
		
			posted at {{ build.date }} <br><br>
			<ul class="list-group">
				{% for ability in abilities %}
					<li class="list-group-item">{{ ability }}</li>
				{% endfor %}
			</ul>	
			</div>
		{% endfor %}
		</div>
	{% endif %}
</div>
{% endblock content %}
