{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	<h1>
	<img src="{{ url_for('static', filename='img/heroes/' + name + '_frame.png') }}" width="60px" />
	Step 3: Your Build
	</h1>
 </div>

  <ul class="pager">
  <li class="previous"><a href="{{ '/' + name }}">&larr; Restart</a></li>
  </ul>

 <div class="container">
 
	{% for abilities in lst %}
	<div class="row">
		
	<div class="col-sm-3">
	</div>

	{% for ability in abilities %}

   	 <div class="col-sm-3">
	  <div class="thumbnail">
	   <span class="label label-warning">Level {{ ability.lvl }}</span>
	   <!-- <img data-src="holder.js/300x300" alt="..."> -->
	   <div class="caption">
	    <h4>{{ ability.name }}</h4>
	    <p>{{ ability.text }}</p>
           </div>
	  </div>
	 </div>

	{% endfor %}
	</div>
	{% endfor %}

 </div>
 
</div>
{% endblock content %}
