{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	<h1>
	<img src="{{ url_for('static', filename='img/heroes/' + name + '_frame.png') }}" width="60px" />
	{% if mode == 2 %}
  	 Step 3: Your Build
        {% else %}
	 Build overview: {{ build_name }}
        {% endif %}
	</h1>
 </div>

 <ul class="pager">
 {% if mode == 2 %}
  <li class="previous"><a href="{{ '/' + name }}">&larr; Restart</a></li>
 {% else %}
  <li class="previous"><a href="{{ '/' + name }}">New</a></li>
  <li class="next"><a href="{{ '/upvote_build/' + build_name }}">+1</a></li>
 {% endif %}
 </ul>

 <div class="container">

 {% if mode == 2 %}

 <div class="row">
 <div class="col-sm-2">
  </div>

   <div class="col-sm-8">
    <form class="form" method="post" action="/submit/{{ build }}" role="form"> 
    <div class="input-group" >
     <span class="input-group-addon">Buildname:</span>
     
     {{ form.build_name(class="form-control") }}      
     
      <span class="input-group-btn">
       <button class="btn btn-default" type="submit">Submit</a></button>
      </span>

    </div><!-- /input-group -->
    </form>
   </div><!-- /.col-sm-4 -->
  </div>
  <br> 

 {% endif %}

	{% for abilities in lst %}
	<div class="row">
		
	<div class="col-sm-2">
	</div>

	{% for ability in abilities %}

   	 <div class="col-sm-4">
	  <div class="thumbnail">
	  <div class="inner">
	   <span class="label label-warning">Level {{ ability.lvl }}</span>
	   <!-- <img data-src="holder.js/300x300" alt="..."> -->
	   <div class="caption">
	    <h4>{{ ability.name }}</h4>
	    <p>{{ ability.text }}</p>
           </div>
	   </div>
	  </div>
	 </div>

	{% endfor %}

	<div class="col-sm-2">
	</div>

	</div> <!-- row -->
	{% endfor %}

 </div> <!--container-->
</div>
{% endblock content %}
