{% extends 'template.html' %}
{% block content %}
<div class="bcolor">

 <div class="page-header">
	<h1>
	<img src="{{ url_for('static', filename='img/heroes/' + name + '_frame.png') }}" width="60px" />
	Step 3: Your Build
	</h1>
 </div>


  <ul class="pager">
  <li class="previous"><a href="{{ '/' + name }}">&larr; Restart</a></li>
  </ul>

 <div class="container">

 {% block build %}{% endblock %}

 {% if mode == 2 %}

 <div class="row">
 <div class="col-sm-2">
  </div>

   <div class="col-sm-8">
    <div class="input-group">
     <span class="input-group-addon">Buildname:</span>
     <input type="text" class="form-control">
      <span class="input-group-btn">
       <button class="btn btn-default" type="button"><a href="{{ '/submit/' + 'name:text:' + build }}">Submit</a></button>
      </span>
    </div><!-- /input-group -->
   </div><!-- /.col-sm-4 -->
  </div>
  <br> 
 {% endif %}

	{% for abilities in lst %}
	<div class="row">
		
	<div class="col-sm-2">
	</div>

	{% for ability in abilities %}

   	 <div class="col-sm-4">
	  <div class="thumbnail">
	  <div class="inner">
	   <span class="label label-warning">Level {{ ability.lvl }}</span>
	   <!-- <img data-src="holder.js/300x300" alt="..."> -->
	   <div class="caption">
	    <h4>{{ ability.name }}</h4>
	    <p>{{ ability.text }}</p>
           </div>
	   </div>
	  </div>
	 </div>

	{% endfor %}

	<div class="col-sm-2">
	</div>

	</div> <!-- row -->
	{% endfor %}

 </div> <!--container-->
</div>
{% endblock content %}
