<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Skilltree Builder for HotS">
	<meta name="author" content="Florian Thomas">

	<title>Heroes of the Storm</title>
	
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/heroes_icon_small.png') }}">

<body>
	<!-- begin navigation -->   
	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/icons/heroes_icon_small.png') }}">  HotS Builder</a>
			</div> <!-- navbar header -->
			<div class="collapse navbar-collapse">
				{% if page == 'index' %}	 
				{% include "nav_index.html" %}

				{% elif page == 'create' %}
				{% include "nav_create.html" %}

				{% elif page == 'build' %}
				{% include "nav_create.html" %}

				{% elif page == 'overview' %}
				{% include "nav_overview.html" %}	

				{% endif %}
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- end navigation -->

	<div class="container">
		<!-- content -->
		<div class="starter-template">
			{% block content %}
			{% endblock content %}
		</div>
		<hr>
		<!-- footer -->
		<footer>
			<p>Florian Thomas - 2014 - <a href="mailto:flothomas@web.de">Bugreports</a></p>
		</footer>

	</div>

    <!-- ignore: Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.js"></script>
    -->
    {% if page == 'build' or page == 'overview' %}


	<script type="text/javascript">

	function equalHeight(group) {    
    		var tallest = 0;    

    		group.each(function() {       
        		var thisHeight = $(this).height();       
        		if(thisHeight > tallest) {          
            			tallest = thisHeight;       
        		}    
    		});    
		$(".thumbnail").each(function() { $(this).height(tallest)  });
    		//group.each(function() { $(this).height(tallest); });
        } 

	$(document).ready(function() { 
		equalHeight($(".inner")); 

		
		$(window).resize(function(){
			equalHeight($(".inner"));
		});

	});

	</script>
    {% endif %}

</body>
</html>


