div.centerRow {
	float: none;
	margin: 0 auto;	
}

div.imgBox {
	float: left;
	width: 125px;
	height: 125px;
}

div.bcolor {
	color: #7A7A7A;
}

div.row {
	align: center;
}

div.row img {
	align: center;
	margin: 10px;
}

body {
  	padding-top: 50px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

.flaskimg { 
  	position: fixed; 
	bottom: 0; 
	right: 0; 
	margin-right: 10px; 
	margin-bottom: 9px;
} 

