img.hover {
	display: none;
	margin-left: 15px;
	margin-right: 15px;
}

img.normal {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}

a:hover img.hover {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}

a:hover img.normal {
	display: none;
	margin-left: 15px;
	margin-right: 15px;
}

div.bcolor {
	color: #7A7A7A;
}

div.row img {
	align: center;
	margin-left: 15px;
	margin-right: 15px;
}

body {
  	padding-top: 50px;
}

.starter-template {
  	padding: 40px 15px;
  	text-align: center;
}

